ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    li{
        a{
            color: #FFFFFF;
            font-size: 15px;
            font-weight: 700;
            transition: .5s linear;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        a:hover{
            color: #DC5F00;
            transition: .5s linear;
        }
    }
}
.link{
    color: #FFFFFF;
    svg{
    margin-right: 5px;
    font-size: 25px;
    }
}
.link:hover{
    color: #DC5F00;
}