.container{
    padding:20px 0px 100px 40px;
    display: flex;
    flex-direction: column;
    gap:50px;
}

.container .info{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.info li{
    list-style:circle;
}

.container .infoPlace{
    width: 50%;
    display: flex;
    gap:20px;
}

.infoPlace p{
    width: 50%;
}

.infoPlace img{
    width: 200px;
    height: 200px;
}