.registerPage {
  display: flex;
  flex-direction: column;
  
}

.registerForm {
  width: 40%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  background-color: rgb(216, 206, 206);
  padding: 10px 20px 10px 10px;
  margin: 20px 0px 40px 20px;
}

form input {
  width: 100%;
  height: 30px;
}

form button {
  width: 25%;
  height: 30px;
  border-radius:3px;
  border:none;
}


.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:10px;

}

.checkbox input{
    width: 15px;
    height: 15px;
}
