.products {
  padding-top: 150px;
  padding-inline: 10px;
  text-align: center;
    input{
      width: 200px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid rgb(169, 165, 165)
    }
   h1{
    font-size: 50px;
   }
  .productList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 20px;
  }
}
