.product-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}


.product-item{
    width: 200px;
    height: 200px;

}

.product-item img{
   width: 100%;
   height: 180px;
}

.product-item  h3{
    font-size: 20px;
}
